body,html{
    margin: 0;
    padding: 0;
    background: #fff;
    font: Microsoft Yahei, Lucida Grande, Tahoma, Arial, sans-serif;
    font-size: 12px;
}

input[type=text]{
	border: 1px solid #E7E5E5;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
}
/***************login*********************/
.login{
	position: absolute;
	top: 50%;
	left:50%;
	width: 300px;
	height: 220px;
	margin-left: -300px;
	margin-top: -125px;
	background: url('../images/login_bg.gif') no-repeat left 10px;
	padding-left: 300px;
}
.login input[type=text]{
	width: 270px;
	height: 33px;
	line-height: 33px;
	padding-left: 10px;
	font-size: 14px;
}
.login .error{
	visibility:hidden;
	color: #ff3232;
	padding-left: 10px;
	height: 35px;
	padding-top: 5px;
}
.login .button{
	text-align: center;
}
.login .button button{
	border: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 75px;
	height: 35px;
	background-color: #33b332;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

/*******************chat*************************/
.header{
	height: 40px;
	line-height: 40px;
	background: url('../images/logo.gif') no-repeat 15px bottom;
	text-align: right;
	padding-right: 15px;
	color: #9f9f9f;
}
.main{
	width: 720px;
	height: 540px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -360px;
	margin-top: -270px;
	border: 1px solid #E7E5E5;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.main > div{
	float: left;
}
.chat{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 540px;
	background-color: #F2F2F2;
}
.chat .content{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 50px;
	border-bottom: 1px solid #e7e5e5;
	overflow-y:auto;
}
.list{
	position: absolute;
	left: 540px;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #2f2f2f;
}
.meassge{
	overflow: hidden;
	clear: both;
	margin-top: 30px;
}
.meassge  div{
	float: left;
}
.meassge.me div{
	float: right;
}
.meassge .user{
	width: 105px;
}
.meassge .user .name{
	width: 58px;
	margin-left: 4px;
	text-align: right;
	color: #9f9f9f;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	height: 28px;
	line-height: 28px;
}
.meassge.me .user .name{
	text-align: left;
}
.meassge .user .photo{
	background-color: #e7e5e5;
    border: 1px solid #9f9f9f;
    border-radius: 28px;
    color: #9f9f9f;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 28px;
    margin-left: 5px;
}
.meassge.me .user .photo,.meassge.me .words .text,.meassge.me .words .arrow{
	background-color: #b4eb7c;
}
.meassge.me .user .photo{
	margin-left: 0;
	margin-right: 5px;
}
.meassge .words{
	color: #2f2f2f;
    float: none;
    font-size: 14px;
    line-height: 22px;
    margin: 0 115px;
    position: relative;
}
.meassge.me .words{
	float: none;
}
.meassge .words .text{
	background-color: #fff;
	padding: 10px 20px;
	border-radius: 3px;
    
}
.meassge .words .arrow{
	width: 10px;
	height: 10px;
	-webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
    position: absolute;
    left: -5px;
    background-color: #fff;
    top: 10px;
}
.meassge.me .words .arrow{
	left: auto;
	right: -5px;
}
.line{
	margin: 30px 115px 0;
	position: relative;
}
hr{
	height: 1px;
	border: none;
	border-top: 1px solid #9f9f9f;
	margin: 0;
}
.line .time{
	position: absolute;
	height: 20px;
	background-color: #F2F2F2;
	top: -7px;
	left: 130px;
	padding: 0 5px;
}
.send{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
}
.send .words{
    left: 10px;
    position: absolute;
    right: 140px;
    top: 8px;
}
.send textarea{
	border: 1px solid #9f9f9f;
    height: 35px;
    resize: none;
    width: 100%;
}
.send button{
	width: 80px;
	height: 30px;
	border: 1px solid #9f9f9f;
	font-size: 14px;
	color: #2f2f2f;
	margin-left: 30px;
	float: right;
	margin-top: 10px;
	margin-right: 30px;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
}
.send button:hover{
	background-color: #33b332;
	color: #fff;
}
.list .title{
	background: url('../images/user.png') 10px center no-repeat;
	border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    margin-bottom: 10px;
}
.list .friend{
	color: #fff;
	padding-left: 15px;
	line-height: 22px;
	clear: both;
	overflow: hidden;
}
.list .friend > div{
	float: left;
}
.list .friend .update{
	margin-left: 20px;
	color: #b4eb7c;
	cursor: pointer;
}
.bottom{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	color: #9f9f9f;
	padding-bottom: 10px;
}

.hide{
	display: none;
}
button{
	cursor: pointer;
}

.dialog{
	position: absolute;
	z-index: 10px;
	left: 0;
	right:0;
	bottom: 0px;
	top: 0px;
	background-color: #000;
	opacity: 0.5;
}
.window{
	position: absolute;
	width: 300px;
	height: 156px;
	left: 50%;
	top: 50%;
	background-color:#fff;
	border-radius: 3px;
	margin-top: -78px;
	margin-left: -150px;
	padding: 0 20px;
}
.window .title{
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #E7E5E5;
	color: #9f9f9f;
}
.window .content{
	padding: 20px 0;
}
.window .content input{
	height: 26px;
	width: 300px;
	border: 1px solid #9f9f9f;
}
.window  button{
	width: 65px;
	height: 30px;
	border: none;
	background-color: #33b332;
	color: #fff;
	padding: 0;
	border-radius: 5px;
}
.confirm{
	text-align: center;
}
.confirm .message{
	padding: 40px 0;
	color: #33b332;
	font-size: 14px;
}
.confirm button{
	background-color: #F2F2F2;
	border: 1px solid ##E7E5E5;
	color: #9f9f9f;
}

.listbutton{
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background: url('../images/user.png') no-repeat center center #2f2f2f;
	position: absolute;
	top: 10px;
	right: 20px;
	z-index: 10;

}

.mobile{
	overflow: hidden;
	font-size: 18px;
}
.mobile .header,.mobile .bottom,.mobile .list{
	display: none;
}
.mobile .listbutton{
	display: block;
}
.mobile .main,.mobile .chat,.mobile .list{
	width: 100%;
	height:100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
	overflow: hidden;
}
.mobile .window{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	margin: 0;
}
.mobile .user{
	height: 68px;
	position: relative;
	width: 70px;
}
.mobile .user .name,.mobile .meassge.me .user .name{
	position: absolute;
	bottom: 0;
	text-align: center;
}
.meassge.me .user .name{
	right: 0;
	margin: 0;
}
.mobile .user .photo{
	width: 40px;
	height: 40px;
	line-height: 36px;
	border-radius: 40px;
	margin-left: 9px;
	font-size: 26px;
}
.mobile .meassge.me .user .photo{
	margin-right: 9px;
}
.mobile .line{
	margin:  30px 70px 0;
	height: 20px;
}
.mobile .line .time{
	left: 100px;
}
.mobile .meassge .words{
	margin: 0 70px;
}

/* 合作网站帐号登陆*/
.login-dialog .login-dialog-header {
  font-size: 18px;
  font-weight: 700;
  color: #4f5157;
  line-height: 1px;
  padding-top: 28px;
  padding-bottom: 20px;
  padding-left: 84px;
}

.login-dialog .login-dialog-header {
  padding: 28px 0 20px 84px;
}

/* 合作网站帐号*/
.confirm-dialog
{
	background-color: #fff;
	border-radius: 6px;
	color: #4E4E4E;
	padding: 53px 38px 42px;
	z-index: 25;
}
.confirm-dialog .confirm-inner
{
	color: #6b6b6b;
	font-size: 18px;
	text-align: center;
}
.confirm-dialog .close
{
	cursor: pointer;
	display: block;
	height: 18px;
	position: absolute;
	right: 10px;
	top: 13px;
	width: 18px;
}
.confirm-dialog .close .icon-close
{
	height: 10px;
	width: 10px;
}
.confirm-dialog .btn-group
{
	margin-top: 50px;
}
.confirm-dialog .btn
{
	background-color: #ff635c;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 2px 2px rgba(14,5,9,.16);
	color: #fff;
	cursor: pointer;
	display: inline;
	display: inline-block;
	font-size: 16px;
	height: auto;
	line-height: 18px;
	outline: 0;
	padding: 11px 44px;
	zoom: 1;
}
.confirm-dialog .cancel
{
	background-color: #fafafa;
	box-shadow: 0 2px 2px rgba(14,5,9,.16);
	color: #9e9e9e;
	margin-right: 41px;
}
.feedback_dialog
{
	bottom: 115px;
	display: none;
	position: fixed;
	right: -362px;
}
.feedback_dialog .feedback_panel
{
	font-size: 13px;
	line-height: 20px;
	padding: 0 20px 10px;
	width: 320px;
}
.feedback_dialog .email,.feedback_dialog .content
{
	background: #f2f2f5;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	color: #5e5e5e;
	height: 18px;
	outline: 0;
	padding: 0;
	padding: 5px 10px;
	resize: none;
	width: 300px;
}
.feedback_dialog .email:focus,.feedback_dialog .content:focus
{
	box-shadow: 0 0 2px 0 #00f;
}
.feedback_dialog .submit-btn
{
	background-color: #dc2525;
	border: 0;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	height: auto;
	line-height: 18px;
	outline: 0;
	padding: 8px 30px;
}
.feedback_dialog .submit-btn:hover
{
	background-color: #C52424;
}
.feedback_dialog .msg
{
	margin-left: 5px;
}
.feedback_dialog .error
{
	color: red;
}
.feedback_dialog .input-group
{
	margin-bottom: 10px;
	position: relative;
}
.feedback_dialog .label
{
	margin-bottom: 5px;
}
.feedback_dialog .close
{
	position: absolute;
	right: 0;
	top: 10px;
}
.login-dialog
{
	background-color: #fff;
	border-radius: 6px;
	color: #4E4E4E;
	width: 530px;
	z-index: 25;
}
.login-dialog .btn
{
	cursor: pointer;
	display: block;
	height: 18px;
	position: absolute;
	right: 10px;
	top: 13px;
	width: 18px;
}
.login-dialog .btn .icon-close
{
	height: 10px;
	width: 10px;
}
.login-dialog .login-dialog-header
{
	padding: 28px 0 20px 84px;
}
.login-dialog .login-dialog-header h3
{
	color: #4f5157;
	font-size: 18px;
	font-weight: 700;
	line-height: 1px;
}
.login-dialog .login-pannel
{
	padding: 8px 113px 0;
	width: 306px;
}
.login-dialog .login-dialog-header
{
	color: #4f5157;
	font-size: 18px;
	font-weight: 700;
	line-height: 1px;
	padding-bottom: 20px;
	padding-left: 84px;
	padding-top: 28px;
}
.login-dialog .error
{
	color: red;
	display: none;
	font-size: 14px;
	margin-top: 10px;
	padding-left: 10px;
}
.login-dialog .left
{
	padding-top: 40px;
}
.login-dialog .input-group
{
	margin-bottom: 15px;
}
.login-dialog .input
{
	border: 1px solid #e9e9e9;
	border-radius: 4px;
}
.login-dialog .input label
{
	color: #6b6b6b;
	font-size: 16px;
	padding: 13px 10px;
}
.login-dialog .name,.login-dialog .password
{
	border: 0;
	color: #5e5e5e;
	font-size: 16px;
	height: 18px;
	outline: 0;
	padding: 0;
	padding: 13px 10px;
	width: 227px;
}
.login-dialog .name input,.login-dialog .password input
{
	background-color: #fff;
}
.login-dialog .name
{
	background-position: 10px 10px;
}
.login-dialog .password
{
	background-position: 10px -45px;
}
.login-dialog .submit-btn
{
	background-color: #ff635c;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 2px 2px rgba(14,5,9,.16);
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	height: auto;
	line-height: 18px;
	margin-top: 20px;
	outline: 0;
	padding: 11px 66px;
}
.login-dialog .submit-btn:hover
{
	background-color: #ff746e;
}
.login-dialog .submit-btn:active
{
	background-color: #ff635c;
}
.login-dialog .label
{
	color: #9e9e9e;
	font-size: 14px;
}
.login-dialog .other
{
	border-top: 1px solid #e5e5e5;
	padding-bottom: 20px;
}
.login-dialog .sns_login_list
{
	margin-bottom: 30px;
}
.login-dialog .sns_login_list li
{
	float: left;
}
.login-dialog .sns_login_list li a
{
	color: #4E4E4E;
	display: block;
	font-size: 14px;
	line-height: 40px;
	margin-right: 25px;
	margin-right: 30px;
	text-align: center;
	width: 56px;
}
.login-dialog .sns_login_list li a:hover
{
	color: #dc2525;
}
.login-dialog .sns_login_list li .icon
{
	display: block;
	height: 40px;
	margin: 0 auto;
	width: 40px;
}
.login-dialog .sns_login_list .sinaweibo .icon
{
	background-repeat: no-repeat;
}
.login-dialog .sns_login_list .qqweibo .icon
{
	background-repeat: no-repeat;
}
.login-dialog .sns_login_list .qzone .icon
{
	background-repeat: no-repeat;
}
.login-dialog .sns_login_list .renren .icon
{
	background-repeat: no-repeat;
}
.login-dialog .bottom-line
{
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 20px;
}
.login-dialog .captcha-box
{
	display: none;
}
.login-dialog .captcha-box .input input
{
	width: 158px;
}
.login-dialog .captcha-box img
{
	height: 46px;
	vertical-align: bottom;
	width: 122px;
}
#pagelet-nav
{
	background-color: #f8f8f8;
	box-shadow: 0 2px 0 rgba(255,59,59,.9);
	height: 70px;
	min-width: 1000px;
	position: relative;
	width: 100%;
	z-index: 10;
}
#pagelet-nav .layer
{
	background: #fff;
	border: 1px solid #d9d9d9;
	box-shadow: 0 0 1px 0 #d7d7d7;
	display: none;
	font-size: 12px;
	min-width: 80px;
	position: absolute;
	right: 0;
	z-index: 12;
}
#pagelet-nav .layer .layer-item
{
	color: #5e5e5e;
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding: 6px 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
}
#pagelet-nav .layer .layer-item:hover
{
	background-color: #f2f2f5;
}
#pagelet-nav .nav-inner
{
	height: 70px;
	margin: 0 auto;
	width: 1000px;
}
#pagelet-nav .nav-inner .nav-logo
{
	display: block;
	float: left;
	height: 50px;
	padding-top: 20px;
	width: 319px;
}
#pagelet-nav .nav-inner .nav-logo .logo,#pagelet-nav .nav-inner .nav-logo .logo-box
{
	display: block;
	height: 32px;
	width: 319px;
}
#pagelet-nav .nav-inner .nav-title
{
	float: left;
	font-size: 20px;
	height: 70px;
	line-height: 70px;
	margin-right: 50px;
	text-align: right;
	width: 334px;
}
#pagelet-nav .nav-inner .nav-title ul
{
	height: 55px;
	padding-top: 15px;
}
#pagelet-nav .nav-inner .nav-title li
{
	display: inline;
	display: inline-block;
	height: 55px;
	line-height: 55px;
	margin-right: 24px;
	vertical-align: top;
	zoom: 1;
}
#pagelet-nav .nav-inner .nav-title .btn
{
	color: #9e9e9e;
	display: inline;
	display: inline-block;
	zoom: 1;
}
#pagelet-nav .nav-inner .nav-title .btn:hover span,#pagelet-nav .nav-inner .nav-title .btn.selected span
{
	color: #ed4040;
}
#pagelet-nav .nav-inner .nav-subtitle
{
	float: left;
	height: 70px;
	line-height: 70px;
}
#pagelet-nav .nav-inner .nav-subtitle .layer
{
	font-size: 12px;
	line-height: 20px;
	top: 45px;
}
#pagelet-nav .nav-inner .nav-subtitle .layer li
{
	float: none;
}
#pagelet-nav .nav-inner .nav-subtitle .btn
{
	color: #9e9e9e;
	display: inline;
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
	padding: 0 11px;
	vertical-align: middle;
	zoom: 1;
}
#pagelet-nav .nav-inner .nav-subtitle .line
{
	border-right: 1px dotted #dbdbdb;
	display: inline;
	display: inline-block;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	zoom: 1;
}
#pagelet-nav .nav-inner .nav-subtitle .icon
{
	vertical-align: 2px;
	vertical-align: -2px;
}
#pagelet-nav .nav-inner .nav-subtitle .nav-list
{
	height: 58px;
	padding-top: 12px;
}
#pagelet-nav .nav-inner .nav-subtitle .nav-item
{
	display: inline;
	display: inline-block;
	height: 55px;
	line-height: 55px;
	position: relative;
	vertical-align: top;
	zoom: 1;
}
#pagelet-nav .nav-inner .nav-subtitle .nav-item:hover span
{
	color: #6b6b6b;
}
#pagelet-nav .nav-inner .nav-subtitle .username-box .user-head
{
	overflow: hidden;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 112px;
}
#pagelet-nav .nav-inner .nav-subtitle .username-box img
{
	border-radius: 11px;
	display: inline;
	display: inline-block;
	height: 22px;
	vertical-align: middle;
	width: 22px;
	zoom: 1;
}
#pagelet-nav .show-layer .layer
{
	display: block;
}
#pagelet-feedback
{
	bottom: 73px;
	display: none;
	left: 50%;
	margin-left: 506px;
	position: fixed;
	z-index: 20;
}
#pagelet-feedback .btn
{
	display: block;
}
#pagelet-feedback .btn .icon
{
	height: 34px;
	width: 34px;
}
.login-dialog .sns_login_list .sinaweibo .icon
{
	background-position: 0px 0px;
}
.login-dialog .sns_login_list .qqweibo .icon
{
	background-position: 0px -70px;
}
.login-dialog .sns_login_list .qzone .icon
{
	background-position: 0px -140px;
}
.login-dialog .sns_login_list .renren .icon
{
	background-position: 0px -210px;
}
.login-dialog .sns_login_list .sinaweibo .icon,.login-dialog .sns_login_list .qqweibo .icon,.login-dialog .sns_login_list .qzone .icon,.login-dialog .sns_login_list .renren .icon
{
	background-image: url(http://s2.pstatp.com/resource/toutiao_web/static/pkg/core_z_1249895.png);
}




